# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage
*.egg-info/
dist/
build/
venv/
.venv/

# DB
*.db
*.db-shm
*.db-wal

# Env
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
